html
{
  scroll-behavior: smooth;
  scroll-behavior: smooth ;
}
.bg-dark{
  background-color: #253746 !important; 
}
.nav-link{
  color: white !important;
}

.main-heading
{
  padding-top: 120px;
}
.banner
{
  background-color: #1d2b38;
  height: 80vh;
}
.fg-heading p {
  text-align: center;
  color:#ffff;
  font-size: 30px;
  letter-spacing: normal;
}

.side-div
{
  background-color: #253746;
  padding: 15px;
  margin-bottom: 10px;

}

.side-div h6
{
  text-align: center;
  font-size: 18px;
  text-align: center;
  letter-spacing: normal;
  color: #00bb7e;
}

.side-div p
{
  font-size: 15px;
  text-align: center;
  letter-spacing: normal;
  color: #ffff;
  font-size: 15px;
}

.btn-danger
{
  background-color: #ff4141 !important;
  padding: 10px;
}
.btn-danger:hover
{
  background-color: #ff0000 !important;
  padding: 10px;
}

.about-section
{
  font-size: 20px;
  line-height: 34px;
  color: #1d2b38;
}
.btn-success
{
  background-color: #00bb7e !important ;
}
.btn-success:hover
{
  background-color: #00a99d !important ;
}

.DBS-check
{
  font-size: 20px;
  line-height: 34px;
  color: #1d2b38;
}

.form-deign
{
  background-color: #ffc658;

}
.contact-us
{
  font-size: 14px;
  text-align: start;
  line-height: 20px;
  letter-spacing: normal;
}

.contact-us input, textarea{
  border: none;
  padding: 7px 10px;
}
.contact-info
{
  background-color: #1b2934;
  height: fit-content;
  padding: 30px;
}
.footer-section
{
  background-color: #1d2b38;
}

.footer-links
{
  padding-left: 0px;
}
.footer-links li 
{
  list-style: none;
  padding-left: 0px;
}
.footer-links li a
{
  color: #ffc658;;
}
.footer-links li a:hover
{
  color: #00bb7e;
  text-decoration: none;
  transition: .5s;
}

.heading-text
{
  color: #253746;
}

.para
{
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  letter-spacing: normal;
  font-family: Open Sansa, Arial, Helvetica, sans-serif;
}

.faq-links
{
  padding-left: 0px;
}

.faq-links li
{
  list-style: decimal;
  padding-left: 0px;
}
.faq-links li a
{
  color: black;
  font-weight: bold;
}

.faq-links li a:hover{
  color: #00bb7e;
  text-decoration: none;
  transition: .5s;
}
.faq-details h3 p
{
  font-size: 20px;
  line-height: 34px;
  text-align: left;
  letter-spacing: normal;
  color: #1d2b38;
}

.apply-now img
{
  width: 100%;
}

/* enhaced form css */
.logo img {
	width: 199px;
}
.footer-logo img {
	width: 74%;
	position: relative;
	bottom: 30px;
}

.DBS-check li{
  list-style: none;
  padding-left: 0px;
}

/* dropdown css */
#long-list .nice-select.open .list {
  overflow-y: scroll;
  height: 200px;
}

#applyModal .modal-backdrop {
	opacity: 0.5 !important;
}
#applyModal .modal-content {
	border-radius: 25px;
}
#applyModal .modal-dialog {
	max-width: 600px;
	margin: 3.75rem auto;
}
#applyModal .modal-title {
	color: #253746;
	margin-left: auto;
	font-weight: 700;
	font-size: xx-large;
}
#applyModal input,
#sample-form input {
	outline: none;
	border: none;
	border-radius: 0px !important;
	background-color: transparent;
	border-bottom: 1px solid #253746;
}
#applyModal .nice-select,
#applyModal .nice-select .list,
#sample-form .nice-select,
#sample-form .nice-select .list {
	width: inherit;
}
#applyModal .nice-select,
#sample-form .nice-select {
	border: none;
	color: black;
	padding-left: 11px;
	border-radius: 0px !important;
	border-bottom: 1px solid #253746;
	margin-bottom: 10px;
}
#applyModal #upload-cv {
	border-bottom: none;
	margin-top: 8px;
}
#applyModal input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 1; /* Firefox */
}
*/ #applyModal input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: black;
}
#applyModal .btn-rounded {
	border-radius: 25px;
	margin-top: 10px;
}
#applyModal input::-ms-input-placeholder {
	/* Microsoft Edge */
	color: black;
}
.btn-trash {
	border: none;
	border-radius: 5px;
	background-color: #fb246a;
}
.btn-trash:hover,
.btn-times:hover {
	cursor: pointer;
}
.btn-times {
	border: none;
	border-radius: 5px;
	background-color: #73fbaf;
}
/* Terms and Conditions */
.tac-links {
	color: #253746;
	text-decoration: underline;
}
.tac-links:hover {
	color: #fb246a;
	text-decoration: underline;
}
.tac-span {
	color: red;
}
.pp-ul {
	margin-top: 0;
	padding: revert;
	margin-bottom: 1rem !important;
}
.pp-ul li {
	list-style-type: disc;
}

/* Required Fields */
.required-field {
	color: red;
}
@media only screen and (max-width: 900px) {
	.table-responsive {
		overflow-x: scroll;
	}
	.table-responsive .table {
		width: max-content;
	}
}
@media only screen and (max-width: 600px) {
	.footer-logo img {
		bottom: 0px;
	}
}

#cookieModal .modal-dialog {
	margin-top: 0rem;
	max-width: 100%;
}
#cookieModal .modal-content {
	border-radius: 0rem;
}
#cookieModal .buttons .btn {
	margin: 0.2rem;
}
